name: golangci-lint
on:
  pull_request:
    branches: [ "*" ]
    
jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.6
          only-new-issues: true
